<div class="container">
    <h2>To Do List</h2>
    <form [formGroup]='form'>
        <input
            required 
            type="text" 
            #topic 
            class="form-control"
            id="topic"
            formControlName='input'
            (keyup.enter)="addTopic(topic)">
    </form>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let topic of topics.controls">
            {{topic.value}}
            <i class="fa fa-trash fa-lg float-right" (click)='removeTopic(topic)'></i>
            <i class="fa fa-edit fa-lg float-right" (click)='updateTopic(topic)'></i>
        </li>
    </ul>
</div>