<div class="container">
    <form #f='ngForm' (ngSubmit)='submit(f)'>
        <div ngModelGroup='çontact'>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input 
                    required 
                    minlength="5" 
                    maxlength="10"
                    pattern="banana"
                    ngModel
                    name="firstName"
                    #firstName="ngModel"
                    (input)='log(firstName)' 
                    id="firstName"
                    type="text"  
                    class="form-control">
                <div 
                    class="alert alert-danger" 
                    *ngIf='firstName.touched && !firstName.valid'>
                    <p *ngIf='firstName.errors.required'>
                        First name is required.
                    </p>
                    <p *ngIf='firstName.errors.pattern'>
                        Invalid pattern.
                    </p>
                    <p *ngIf='firstName.errors.minlength'>
                        Requires at least {{firstName.errors.minlength.requiredLength}} characters.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment" cols="30" rows="10" class="form-control" ngModel #comment="ngModel"></textarea>
        </div>
        <div class="form-group">
            <label>
                <input 
                    type="checkbox" 
                    ngModel
                    name="isSubscribed"> Subscribe to mailing list
            </label>
        </div>
        <div class="form-group">
            <label for="contactMethod">Contact Method</label>
            <select 
                ngModel
                name="contactMethod" 
                id="contactMethod" 
                class="form-control"
                multiple>
                <option
                    *ngFor='let method of contactMethods' [value]="method.id">{{ method.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <div class="radio" *ngFor='let method of contactMethods;'>
                <label>
                    <input type="radio" name="radio" ngModel [value]="method.id"> {{ method.name }}
                </label>
            </div>
        </div>
        <p>
            {{ f.value | json}}
        </p>
        <button class="btn btn-primary" [disabled]='!f.valid'>Submit</button>
    </form>
</div>