<div class="container">
    
    <form [formGroup]='form' (ngSubmit)='login()'>
        <div *ngIf='form.errors' class="alert alert-danger">The username or password is invalid.</div>
        <div class="form-group">
            <label for="username">Username</label>
            <input
                formControlName='username' 
                type="text" 
                id="username"
                class="form-control">
            <div *ngIf='username.pending'>Checking for uniqueness...</div>
            <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
                <div *ngIf='username.errors.required'>Username is required.</div>
                <div *ngIf='username.errors.minlength'>Username should be minimum {{ username.errors.minlength.requiredLength }} characters.</div>
                <div *ngIf='username.errors.cannotContainSpace'>Username cannot contains space.</div>
                <div *ngIf='username.errors.shouldUnique'>Username is already taken.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                formControlName='password'
                type="text"
                id="password"
                class="form-control">
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Password is required.</div>
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
</div>